#color{
	border-style: solid;
	border-color: white;
}
#color1{
	border-style: solid;
	border-color: white;
}
#color2{
	border-style: solid;
	border-color: white;
}
#color3{
	border-style: solid;
	border-color: white;
}